{% extends "html.twig" %}

{% block content %}

    <div class="site-header">
        {% block siteHeader %}
        
        {% endblock %}
    </div>

    <div class="site-content">
        {% block siteContent %}
        
        {% endblock %}
    </div>

    <div class="site-footer">
        {% block siteFooter %}
        
        {% endblock %}
    </div>

{% endblock %}