{% extends "./layout/page.twig" %}

{% block siteContent %}
    <a href="{{ path('pages/home/home.html') }}">Home</a>
    <a href="{{ path('pages/home2.html') }}">Home2</a>

    <img src="{{ asset('assets/img/img.jpg') }}" alt="">
{% endblock %}